MONGO_URI="mongodb://localhost:27017/acs-qms"
PORT=5000
JWT_SECRET="HAZEMBENHAMAD"
API_URL="http://localhost:5000"
NODE_ENV="PRODUCTION"
STRIPE_PUBLIC="pk_test_51OnIsWBGwGedP86Cmbxi7iicPMUyFtq728YViAkFvZGYxllOQd32F12dmfZj7nSyD2DuTWDvwvdzg8IfMAhi4GxS00Ke3zr3TT"
STRIPE_PRIVATE="sk_test_51OnIsWBGwGedP86CWpXwOjhdReOjJ1gJYTgGu0Mbe6KHgV9X9pFjWUdLvJM0oPfqBv2UW84Da984CdCW2m1JldOs00KSegWu7k"
SMTP_USER="testacsqms@gmail.com"
SMTP_PASS="ahgi nqsk thzk asld" 
SUPER_ADMIN_EMAIL="h.benhamad21178@pi.tn"
